@import "tailwindcss";

@font-face {
    font-family: font1;
    src: url(./assets/Lausanne-300.woff2);
}

@font-face {
    font-family: font2;
    src: url(./assets/Lausanne-500.woff2);
}

.move-x {
    animation-name: moveAnimation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes moveAnimation {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.move-text {
    animation-name: movingAnimation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes movingAnimation {
    from{
        transform: translateX(100vw);
    }
    to{
        transform: translateX(-90vw);
    }
}

.move-text2 {
    animation-name: moving2Animation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 4.7s;
}

@keyframes moving2Animation {
    from{
        opacity: 1;
        transform: translateX(100vw);
    }
    to{
        opacity: 1;
        transform: translateX(-90vw);
    }
}


/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}